body {
	background-color: darkolivegreen;
}
h1 {
	text-align: center;
	color: beige;
	font-family: "lucida handwriting";
	font-size: 40px;
}
table {
	color: seashell;
	font-family: "times new roman";
	font-size: 18px;
}
p {
	padding: 25px;
	background-color: darkkhaki;
	margin: 25px;
	border-style: double;
	font-family: "times new roman";
	font-size: 16px;
}