body {
	background-color: darkolivegreen;
}
h2 {
	color: beige;
	font-family: "courier new";
}
h4 {
	color: beige;
	font-family: "papyrus";
}
table {
	color: seashell;
	font-family: "times new roman";
	font-size: 18px;
}
p {
	padding: 25px;
	background-color: darkkhaki;
	margin: 25px;
	border-style: double;
	font-family: "times new roman";
	font-size: 16px;
}