body {
	background-color: darkolivegreen;
	margin: 25px 50px;
}
h3 {
	text-align: center;
	color: beige;
	font-family: "courier new";
}
h4 {
	color: beige;
	font-family: "papyrus";
}
table {
	color: seashell;
	font-family: "times new roman";
	font-size: 18px;
}
.pandemi {
	padding: 25px;
	background-color: darkkhaki;
	margin: 25px;
	border-style: double;
	font-family: "times new roman";
	font-size: 16px;
}
.foto {
	font-family: "times new roman";
	font-size: 30px;
	color: seashell;
	font-weight: bold;
}